head, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #35373a;
}

.nav-bar {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    margin-top: 1%;
}

.nav-bar a {
    text-decoration: none;
    font-size: 125%;
    color: #6e6e6e;
    padding: 20px;
}

.nav-bar a.selected {
    color: #71b780;
}

.nav-bar a:hover {
    border-bottom: 2px solid #71b780;
}

.button {
    background-color: transparent;
    color: #71b780;
    font-size: 75%;
    padding: 10px;
    margin: .05%;
    transition: 0.2s ease-in-out; 
    border: 1px solid #71b780;
    border-radius: 25px;
    text-decoration: none;
}

.button:hover {
    background-color: #71b780;
    color: #3e3e3e;
    cursor: pointer;
    font-size: 75%;
    padding: 10px;
    transition: 0.2s ease-in-out; 
    border: 1px solid #71b780;
    border-radius: 25px;
}

.main-container {
    color: #71b780;
    font-size: 150%;
    margin: 0 auto;
    text-align: center;
    width: 55%;
    margin-top: 17%;
}

.mail-link {
    color: #0d91cf;
}

.hamburger-menu {
    display: none;
}

h2 {
    margin: 0 auto;
    text-align: center;
    width: 25%;
    padding: 2%;
    border-bottom: 2px solid #71b780;
    margin-bottom: 2%;
}

#latest-repos {
    width: 55%;
}

#latest-repos .repo {
    font-size: 65%;
    
    list-style-type: none;
}

.repo {
    margin: 5px;
    color: #71b780;
    text-decoration: none;
    float: left;
    clear: left;
    border-radius: 3px;
    font-size: 55%;
    padding: 2%;
    border: 1px solid transparent;
    transition: ease-in-out 0.2s;
}

.repo:hover {
    border: 1px solid #71b780;
    margin-left: 5%;
}

.language {
    color: #141414;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}

@media only screen and (max-width: 768px) {
    .nav-bar {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        margin-bottom: 15%;
    }

    .main-container {
        margin-top: 25%;
        font-size: 120%;
    }

    .main-container, .nav-bar {
        width: 100%;
    }

    .nav-bar a.selected {
        color: #35373a;
        background-color: #71b780;
    }

    .nav-bar a:hover {
        background-color: #ace4b8;
    }

    .nav-bar .hamburger-menu:hover {
        border-bottom: 2px solid #ace4b8;
    }

    .nav-bar .nav-item {
        display: none;
        border-bottom: 2px solid transparent;
    }

    .hamburger-menu {
        display: block;
        float: right;
    }

    .nav-bar.dropped {
        position: relative;
    }

    .nav-bar.dropped .hamburger-menu{
        position: absolute;
        top: 0;
        right: 0;
    }

    .nav-bar.dropped a {
        display: block;
        float: none;
        text-align: left;
    }
}